.carousel-indicators{
    bottom: 0 !important;
}

.carousel-indicators li{
    background-color: gray;
}

.carousel-indicators li.green{
    background-color: limegreen;
}

.carousel-indicators li.red{
    background-color: red;
}

.carousel-indicators li.yellow{
    background-color: #f5dd5d;
}

.carousel-indicators li.blue{
    background-color: #3875d7;
}

.card-body{
    padding: 2.25rem !important;
}

/*.carousel-indicators li.active{*/
/*    background-color: gray;*/
/*}*/

.result{
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: forestgreen;
}