{% extends 'base.html' %}

{% block title %}Tagger{% endblock %}

{% block my_css_js %}
{% load static %}
<script src="{% static 'js/tagger.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
  <div id="carouselExampleIndicators" class="carousel slide mx-auto" data-ride="carousel" style="width: 50rem;">
    <ol class="carousel-indicators">
      {% for m in medias %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="{{ forloop.counter0|yesno:',active,' }}"></li>
      {% endfor %}
    </ol>
    <div class="carousel-inner">
    {% for m in medias %}
      <div class="carousel-item {{ forloop.counter0|yesno:',active,' }}">
        <form id="{{ m.id_str }}" action="{% url 'annotate' m.id_str %}" method="post">
            {% csrf_token %}
            <div class="card">
              <img src="{{ m.local_image.url }}" class="d-block w-100">
                <div class="card-body d-flex justify-content-center">
                  {% for o in options %}
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input id="target{{ forloop.counter }}" name="target" type="radio" class="form-check-input" value="{{ o.name }}">{{ o.name }}
                      </label>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </form>
      </div>
    {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}