{% extends 'base.html' %}

{% block title %}Tagger{% endblock %}

{% block my_css_js %}
{% load static %}
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="{% static 'js/tagger.js' %}" type="text/javascript"></script>
<link href="{% static 'css/tagger.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <nav class="navbar navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span class="navbar-brand mb-0 h1">Clasificación de imágenes</span>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Tagger <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tagger_statistics' %}">Estadísticas de la clasificación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tagger_summary' %}">Resumen de la clasificación</a>
                </li>
            </ul>
            <span class="navbar-text">
                Hola {{ user.username }}! <a class="nav-link" href="{% url 'logout' %}">logout</a>
            </span>
        </div>
    </nav>
    <div id="media-tagger" class="carousel slide mx-auto" data-ride="carousel" style="width: 50rem; margin-top: 20px">
        <ol class="carousel-indicators">
          {% for m in medias %}
            <li data-target="#media-tagger" data-slide-to="{{ forloop.counter0 }}" class="{{ forloop.counter0|yesno:',active,' }}"></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner">
        {% for m in medias %}
          <div class="carousel-item {{ forloop.counter0|yesno:',active,' }}">
            <form id="{{ m.id_str }}" action="{% url 'annotate' m.id_str %}" method="post" data-item="{{ forloop.counter0 }}">
                {% csrf_token %}
                <div class="card">
                    <img src="{{ m.local_image.url }}" class="d-block w-100">
                    <div class="card-body justify-content-center">
                        <div class="form-group row" style="margin-left: 16%">
                          {% for o in options %}
                            <div class="form-check-inline">
                              <label class="form-check-label">
                                <input id="target{{ forloop.counter }}" name="target" type="radio" class="form-check-input" value="{{ o.id }}">{{ o.name }}
                              </label>
                            </div>
                          {% endfor %}
                        </div>
                        <div class="form-group row meme-field" style="display: none">
                            <label for="text" class="col-sm-2 col-form-label">Texto</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="text" name="text" placeholder="Texto que aparece en el meme">
                                <div class="invalid-feedback">
                                    Debe llenar uno de los dos campos
                                </div>
                            </div>
                        </div>
                        <div class="form-group row meme-field" style="display: none">
                            <label for="description" class="col-sm-2 col-form-label">Descripción</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="description" name="description" placeholder="Descripción breve sobre el meme">
                                <div class="invalid-feedback">
                                    Debe llenar uno de los dos campos
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary meme-field" style="display: none; margin: 0 16%;">Enviar</button>
                        <div class="result"></div>
                    </div>
                </div>
            </form>
          </div>
        {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#media-tagger" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#media-tagger" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="mx-auto" style="margin-top: 20px; text-align: center">
        <button type="button" class="btn btn-primary btn-sm" onClick="window.location.reload();">Cargar más imágenes</button>
    </div>
{% else %}
    <p>Esta funcionalidad es solo para usuarios registrados</p>
    <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}